src/main/mule/ci-cd-deployment-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bd2e15ec-5ea0-43f1-8b36-e12790809a22" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="ci-cd-deployment-pocFlow" doc:id="0bd1bf6e-f8e8-467a-b5ee-53725be233b0" >
		<http:listener doc:name="Listener" doc:id="60af8306-065b-4f7a-9670-eefe6f384bf2" config-ref="HTTP_Listener_config" path="/cicd"/>
		<ee:transform doc:name="Transform Message" doc:id="a385dd05-145c-47eb-9ac4-964d2ab1831d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="111efc6a-a0b0-4ff4-8fa6-af8b78bc916c" >
			<logger level="INFO" doc:name="Logger" doc:id="73331ba0-0cdd-4f42-9586-04063cfb6b31" message="#[payload]"/>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="10508947-8d79-46ed-ab5c-7f758627f6ae" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="af74cfed-4014-4231-b22c-4837d05e28c8" message="#[payload]"/>
	</flow>
</mule>
